 <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>

<nav class="level">
  <p class="level-item has-text-centered">
    Saving
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Index</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Saving</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">Stock</a>
  </p>
  <!--  do something to distinct login or logut -->
  <p class="level-item has-text-centered">
    <a class="button is-success">Login</a>
  </p>
</nav>

{% block section %}{% endblock %}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; theMoonTribe.All Right Reserved</a>
    </p>
  </div>
  </footer>
  </body>
</html>
